<p-carousel [value]="analysers" [numVisible]="3" [numScroll]="1" appendTo="body">
    <ng-template let-analyser pTemplate="item">
        <div pDraggable="analyser" (onDragStart)="dragStart($event, analyser)" (onDragEnd)="dragEnd($event)">
            <carousel-card [analyserName]="analyser.name" [analyserImageURL]="analyser.imgURL"></carousel-card>
        </div>
    </ng-template>
</p-carousel>
<div class="analysers">
    <ng-container *ngFor="let analyzer of configuredAnalysers; let i = index" [attr.data-index]="i">
        <div class="row" *ngIf="i % 4 == 0">
            <div class="col-3" *ngIf="i < configuredAnalysers.length">
                <analyser-card [analyserName]="configuredAnalysers[i].name" [analyserImageURL]="configuredAnalysers[i].imgURL"></analyser-card>
            </div>
            <div class="col-3" *ngIf="(i+1) < configuredAnalysers.length">
                <analyser-card [analyserName]="configuredAnalysers[i+1].name" [analyserImageURL]="configuredAnalysers[i+1].imgURL"></analyser-card>
            </div>
            <div class="col-3" *ngIf="(i+2) < configuredAnalysers.length">
                <analyser-card [analyserName]="configuredAnalysers[i+2].name" [analyserImageURL]="configuredAnalysers[i+2].imgURL"></analyser-card>
            </div>
            <div class="col-3" *ngIf="(i+3) < configuredAnalysers.length">
                <analyser-card [analyserName]="configuredAnalysers[i+3].name" [analyserImageURL]="configuredAnalysers[i+3].imgURL"></analyser-card>
            </div>
            <div class="col-3" *ngIf="(i+4) >= configuredAnalysers.length || (i+1) >= configuredAnalysers.length || (i+2) >= configuredAnalysers.length || (i+3) >= configuredAnalysers.length">
                <div class="dropzone" pDroppable="analyser" (onDrop)="addAnalyser($event)">
                    <i class="pi pi-plus-circle" style="font-size: 5em; margin-top: 25px;"></i><br>
                    Drag and drop an analyser from above to start configuring
                </div>
            </div>
        </div>
    </ng-container>
</div>

