<p-carousel [value]="analyzers" [numVisible]="3" [numScroll]="1" [style]="{'max-width': '108%'}">
    <ng-template let-analyzer pTemplate="item">
        <div pDraggable="analyzer" class="carouselItem" (onDragStart)="dragStart($event, analyzer)" (onDragEnd)="dragEnd($event)">
            <carousel-card [analyzerName]="analyzer.name" [analyzerImageURL]="analyzer.imgURL"></carousel-card>
        </div>
    </ng-template>
</p-carousel>
<div class="analyzers">
    <ng-container *ngIf="configuredAnalyzers.length == 0">
        <div class="row">
            <div class="col-3">
                <div class="dropzone" pDroppable="analyzer" (onDrop)="addAnalyzer($event)">
                    <i class="pi pi-plus-circle" style="font-size: 5em; margin-top: 25px;"></i><br>
                    <p style="margin: 0 5px;">Drag and drop an analyzer from above to start configuring</p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngFor="let analyzer of configuredAnalyzers; let i = index" [attr.data-index]="i">
        <div class="row" *ngIf="i % 4 == 0">
            <div class="col-3" *ngIf="i < configuredAnalyzers.length">
                <analyzer-card [analyzer]="configuredAnalyzers[i]" (removedAnalyzer)="removeAnalyzer($event)"></analyzer-card>
            </div>
            <div class="col-3" *ngIf="(i+1) < configuredAnalyzers.length">
                <analyzer-card [analyzer]="configuredAnalyzers[i+1]" (removedAnalyzer)="removeAnalyzer($event)"></analyzer-card>
            </div>
            <div class="col-3" *ngIf="(i+2) < configuredAnalyzers.length">
                <analyzer-card [analyzer]="configuredAnalyzers[i+2]" (removedAnalyzer)="removeAnalyzer($event)"></analyzer-card>
            </div>
            <div class="col-3" *ngIf="(i+3) < configuredAnalyzers.length">
                <analyzer-card [analyzer]="configuredAnalyzers[i+3]" (removedAnalyzer)="removeAnalyzer($event)"></analyzer-card>
            </div>
            <div class="col-3" *ngIf="(i+4) >= configuredAnalyzers.length || (i+1) >= configuredAnalyzers.length || (i+2) >= configuredAnalyzers.length || (i+3) >= configuredAnalyzers.length">
                <div class="dropzone" pDroppable="analyzer" (onDrop)="addAnalyzer($event)">
                    <i class="pi pi-plus-circle" style="font-size: 5em; margin-top: 25px;"></i><br>
                    <p style="margin: 0 5px;">Drag and drop an analyzer from above to start configuring</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>

