<p-accordion>
    <p-accordionTab header="Checksum">
        <form #checksumForm="ngForm">
            <div class="inputs">
                <div class="ui-inputgroup" *ngIf="analyzerConfig.checksum.size">
                    <span class="ui-inputgroup-addon">Size</span>
                    <input type="text" name="size" id="size" [(ngModel)]="size" class="input" pInputText (keyup)="sendChecksum(checksumForm.value)">
                </div>
                <div class="ui-inputgroup" *ngIf="analyzerConfig.checksum.checkerFn">
                    <span class="ui-inputgroup-addon">CheckerFN</span>
                    <p-dropdown name="checkerFn" id="checkerFn" [(ngModel)]="checkerFn" [options]="checkerFns" (onChange)="sendChecksum(checksumForm.value)"></p-dropdown>
                </div>
                <div class="ui-inputgroup" *ngIf="analyzerConfig.checksum.computerFn">
                    <span class="ui-inputgroup-addon">ComputerFN</span>
                    <p-dropdown name="computerFn" id="computerFn" [(ngModel)]="computerFn" [options]="computerFns" (onChange)="sendChecksum(checksumForm.value)"></p-dropdown>
                </div>
                <div class="ui-inputgroup" *ngIf="analyzerConfig.checksum.from">
                    <span class="ui-inputgroup-addon">From</span>
                    <input type="text" name="from" id="from" [(ngModel)]="from" class="input" pInputText (keyup)="sendChecksum(checksumForm.value)">
                </div>
                <div class="ui-inputgroup" *ngIf="analyzerConfig.checksum.to">
                    <span class="ui-inputgroup-addon">To</span>
                    <input type="text" name="to" id="to" [(ngModel)]="to" class="input" pInputText (keyup)="sendChecksum(checksumForm.value)">
                </div>
            </div>
        </form>
    </p-accordionTab>
</p-accordion>