<mat-card class="analyserCard">
    <h6 class="analyserName">{{ analyserName || 'Vitros' }}</h6>
    <img mat-card-image class="analyserImage" [src]="analyserImageURL || 'https://www.orthoclinicaldiagnostics.com/assets/images/products/CL/3600@2x.png'" alt="Vitros">
    <div class="actions">
        <hr style="clear: both;">
        <button class="btn btn-danger btn-circle" style="margin-right: 60px;"><i class="pi pi-power-off"></i></button>
        <button class="btn btn-secondary btn-circle"><i class="pi pi-cog"></i></button>
    </div>
</mat-card>