<p-accordion>
    <p-accordionTab header="Query Parameters">
       <div class="params">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Field</th>
                    <th>Component</th>
                    <th>Frame</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let param of queryParameters">
                    <td class="paramData">{{ param.name }}</td>
                    <td class="paramData">{{ param.field }}</td>
                    <td class="paramData">{{ param.component }}</td>
                    <td class="paramData">{{ param.frame }}</td>
                    <td><i class="pi pi-trash deleteParam" (click)="deleteParam(param)"></i></td>
                </tr>
                <tr>
                    <td>
                        <input pInputText type="text" placeholder="Name" [(ngModel)]="name" class="newParam">
                    </td>
                    <td>
                        <input pInputText type="text" placeholder="Field" [(ngModel)]="field" class="newParam">
                    </td>
                    <td>
                        <input pInputText type="text" placeholder="Component" [(ngModel)]="component" class="newParam">
                    </td>
                    <td>
                        <input pInputText type="text" placeholder="Frame" [(ngModel)]="frame" class="newParam">
                    </td>
                    <td><i class="pi pi-plus addParam" (click)="addParam(name, field, component, frame)"></i></td>
                </tr>
            </tbody>
        </table>
       </div>
       
    </p-accordionTab>
</p-accordion>