<div class="row" style="margin-top: 30px;">
    <div class="col-4">
        <div class="configInputs">
            <form #config="ngForm">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Name</span>
                    <input type="text" name="name" id="name" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Listener Class</span>
                    <p-dropdown name="listenerClass" id="listenerClass" ngModel [options]="listenerClasses"></p-dropdown>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Parser Class</span>
                    <p-dropdown name="parserClass" id="parserClass" ngModel [options]="parserClasses"></p-dropdown>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Port</span>
                    <input type="text" name="port" id="port" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Baud Rate</span>
                    <input type="text" name="baudRate" id="baudRate" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon smallFont">Record Type Position</span>
                    <input type="text" name="recordTypePosition" id="recordTypePosition" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon smallFont">Record Type Length</span>
                    <input type="text" name="recordTypeLength" id="recordTypeLength" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Separator</span>
                    <input type="text" name="separator" id="separator" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Message Start</span>
                    <input type="text" name="messageStart" id="messageStart" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Message End</span>
                    <input type="text" name="messageEnd" id="messageEnd" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Start Frame</span>
                    <input type="text" name="startFrame" id="startFrame" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">End Frame</span>
                    <input type="text" name="endFrame" id="endFrame" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Message ACK</span>
                    <input type="text" name="messageACK" id="messageACK" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Message Not ACK</span>
                    <input type="text" name="messageNotACK" id="messageNotACK" ngModel class="input" pInputText>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Protocol File</span>
                    <p-dropdown appendTo="body" name="protocolFile" id="protocolFile" ngModel [options]="protocolFiles"></p-dropdown>
                </div>
            </form>
        </div>
    </div>
    <div class="col-8">
        <checksum (checksum)="saveChecksum($event)"></checksum>
        <query-params (queryParams)="saveQueryParams($event)"></query-params>
        <map-codes (mapCodes)="saveMapCodes($event)"></map-codes>
        <button class="btn btn-primary" (click)="save(config.value)">Save config</button>
    </div>
</div>
