.analyzerImage {
    max-width: 100px;
    min-width: 80px;
    height: 60%;
    min-height: 80px;
    float: right;
    margin-top: 8px;
    margin-right: 3px;
}

.analyzerCard {
    max-width: 350px;
    height: 200px; 
    min-width: 280px;
    text-align: center !important;
    margin-top: 15px;
    margin-left: 20px;
    position: relative;
}

.actions {
    position: absolute; 
    height: 90px; 
    bottom: 0; 
    left: 0;
    min-width: 280px;
    width: 100%;
}

.analyzerName{
    margin-top: 10px !important;
    margin-left: 10px;
    float: left;
}

.analyzerTitle{
    font-size: 14px;
    margin-top: 10px !important;
    margin-left: 10px;
    float: left;
}

.btn-circle{
    width: 40px; 
    height: 40px; 
    padding: 7px; 
    border-radius: 50%; 
    font-size: 19px; 
    text-align: center; 
    margin: 0 10px;
    color: white;
}
