<h4 mat-dialog-title class="text-center">Analyzer Log Files</h4>
<hr class="mt-0 pt-0">
<div class="row pt-4">
    <div class="col-9">
        <h6 class="file"><b class="mr-2">Output log:</b> {{ data.analyzerName }}-output.log </h6>
    </div>
    <div class="col-3">
        <button class="btn btn-raised btn-info" (click)="downloadOutputLog()">Download</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-9">
        <h6 class="file"><b class="mr-2">Error log:</b> {{ data.analyzerName }}-error.log </h6>
    </div>
    <div class="col-3">
        <button class="btn btn-raised btn-info" (click)="downloadErrorLog()">Download</button>
    </div>
</div>
