.analyzerImage {
    width: 140px;
    height: 75%;
}

.carouselCard {
    width: 320px;
    height: 220px;
    text-align: center !important;
    margin-top: 50px;
    margin-bottom: 10px;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 1px 1px -1px rgb(0, 115, 168), 
                0 1px 1px 0 rgb(0, 115, 168), 
                0 1px 5px 0 rgb(0, 115, 168);
}